body {
  background: url(https://i.pinimg.com/736x/fe/97/31/fe9731fa5c54e7b5d4adad503852c86e.jpg)
    center center no-repeat;
  /* background-repeat: no-repeat; */
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw !important;
  height: 50vh;
  padding: 30px !important;
  gap: 5%;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
